<div class="block">
	<div class="card">
		<header class="card-header">
			<p class="card-header-title">
				<a href="/posts/{{this._id}}">{{this.title}}</a>
			</p>
		</header>
		<div class="card-content">
			<div class="content">
				{{this.body}}
				<hr>
				<div class="level">
					<div class="level-left">
						<div class="level-item">
							<time>{{this.createdAt}}</time>
						</div>
						<div class="level-item">
							<p class="subtitle is-6">{{this.author.name}}</p>
						</div>
					</div>
					<div class="level-right">
						<div data-like="{{_id}}" class="icon-text like-icon-text">
							{{#if this.userHasLiked}}
							<span data-like="{{_id}}" class="icon like-icon has-text-danger">
								<i class="fas fa-heart like-button"></i>
							</span>
							{{else}}
							<span data-like="{{_id}}" class="icon like-icon">
								<i class="fas fa-heart like-button"></i>
							</span>
							{{/if}}
							<span class="likes-count" id="likes-count-{{_id}}">{{likesCount}}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{#if this.isAuthor}}
		<footer class="card-footer">
			<a href="/posts/edit/{{this._id}}" class="card-footer-item">Редактировать</a>
			<a href="/posts/delete/{{this._id}}" class="card-footer-item">Удалить</a>
		</footer>
		{{/if}}
	</div>
</div>
