<div class="column is-one-third">
	<form action="{{action}}" method="post" id="newPostForm">
		<div class="field">
			<label class="label">Заголовок</label>
			<div class="control">
				{{#if isEdit}}
					<input class="input" type="text" name="title" value="{{title}}">
				{{else}}
					<input class="input" type="text" name="title" placeholder="Дорогой дневник...">
				{{/if}}
			</div>
		</div>

		<div class="field">
			<label class="label">Пост</label>
			<div class="control">
				{{#if isEdit}}
					<textarea class="textarea" name="body">{{body}}</textarea>
				{{else}}
					<textarea class="textarea" name="body" placeholder="Сегодня я снова тебе пишу..."></textarea>
				{{/if}}
			</div>
		</div>

		<div class="field is-grouped">
			<div class="control">
				<button class="button is-link">Отправить</button>
			</div>
		</div>
	</form>
</div>
