<h1 class="title">Пост</h1>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{title}}
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      {{body}}
      <div class="level">
					<div class="level-left">
						<div class="level-item">
							<time>{{createdAt}}</time>
						</div>
						<div class="level-item">
							<p class="subtitle is-6">{{author.name}}</p>
						</div>
					</div>
					<div class="level-right">
						<div data-like="{{_id}}" class="icon-text like-icon-text">
							{{#if this.userHasLiked}}
							<span data-like="{{_id}}" class="icon like-icon has-text-danger">
								<i class="fas fa-heart like-button"></i>
							</span>
							{{else}}
							<span data-like="{{_id}}" class="icon like-icon">
								<i class="fas fa-heart like-button"></i>
							</span>
							{{/if}}
							<span class="likes-count" id="likes-count-{{_id}}">{{likesCount}}</span>
						</div>
					</div>
				</div>
    </div>
  </div>
  {{#if isAuthor}}
		<footer class="card-footer">
			<a href="/posts/edit/{{_id}}" class="card-footer-item">Редактировать</a>
			<a href="/posts/delete/{{_id}}" class="card-footer-item">Удалить</a>
		</footer>
		{{/if}}
</div>

<div class="comments">
	{{#each comments}}
		{{> comment}}
	{{/each}}
</div>

{{> commentForm}}
